@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");

html {
  height: 100%;
  background: linear-gradient(180deg, #37d159 0%, #37d159 0.01%, #3796cb 100%)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0;
  font-family: "Roboto Mono", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 96px;
  margin: 0;
  color: white;
  letter-spacing: 0.1em;
  text-align: center;
}

h2 {
  color: #3a2c91;
  margin: 0;
  font-size: 46px;
  text-align: center;
}

.overall-card {
  width: 60vw;
  margin: 5vh auto;
  background: white;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 20px;
}

.individual-card {
  width: 80%;
  margin: 5vh auto;
  background: white;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 20px;
}

.card-container-label {
  width: fit-content;
  background-color: white;
  border-radius: 0 0 20px 20px;
}

.card-container-label-wrapper {
  width: 80%;
  margin: auto;
}

.card-container {
  width: 60vw;
  margin: 5vh auto;
  border: 5px solid #ffffff;
  border-bottom: none;
  box-sizing: border-box;
  border-radius: 20px 20px 0 0;
}

.card-container-header {
  padding: 10px;
}

.card-header {
  color: #3a2c91;
  margin: 0;
  font-size: 46px;
  font-weight: bold;
}